.navbar{
  height: 15vh;
  width: 100vw;
  position: fixed;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 50px;
  z-index: 3;
}
.navbar p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  color:#657F64;
}
.rightContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.rightContainer div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.rightContainer img{
  display: none;
  height: 40px;
  width: 40px;
  background-color: red;
  border-radius: 50%;
}

.link{
  height: 40px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #a1c4ae;
  transition: all 0.2s ease-in-out;
}
.link:hover{
  color: rgb(61, 189, 96);
  border: none;
  border-bottom: 3px solid rgb(61, 189, 96);
}

.paraContainer{
  height: 50px;
  width: 250px;
  background-color: #5AAC4E;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: left; */
}

.paraContainer div{
  position: absolute;
  height: 50px;
  width: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translatex(-50px);
  border-bottom-right-radius: 20px;
}

.paraContainer p+div:hover,
.paraContainer p:hover+div{
  width: 250px;
  background-color: #234821;
  transition: all 0.5s ease-in-out;
  color: red;
}

.paraContainer p{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 250px;
  font-size: 1.2rem;
  color: #fff;
  z-index: 2;
}

.displayNone{
  display: none;
}

@media(max-width:1180px){
  .rightContainer img{
    display: block;
  }
  .rightContainer div{
  }
  .rightContainer>div{
    display: unset;
    padding: 50px 40px;
    width: 90vw;
    height: 100vh;
    position: absolute;
    background-color: gray;
    left: 0;
    top:100%;
    color: #fff;
    transition: all 0.5s ease-in-out;
  }
  .paraContainer div{
    /* position: absolute;
    height: 50px;
    width: 0; */
    right: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translatex(0);
    border-bottom-right-radius: 20px;
  }
  .link{
    padding: 25px;
    color: #fff;
  }

}
@media(max-width:500px){
  .navbar{
    padding: 0 10px;
  }
  .navbar p{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 200px;
    /* border: 1px solid red; */
    margin-right: 30px;
  }
}